*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.wrap{
width: 31.8%;
height: auto;
margin: 0 auto;
margin-top: 148px;
display: flex;
flex-direction: column;
gap: 152px;
align-items: center;
}
.head h1{
    font-size: 34px;
    font-weight: 700;
}
.head span{
    font-size: 16px;
    font-weight: 400;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
.login{
    width: 49.35%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
form .email, form .password{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    height: autos;
    
}
.inputs{
    width: 100%;
    height: 36px;
    border-radius: 3px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    
}
.inputs input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #f1f1f1;

}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.login h2{
    text-align: center;
}
form p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #8E8E93;
}
form button{
    width: 100%;
    height: 33px;
    border: none;
    border-radius: 34px;
    background-color: #27AE60;
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    margin-top: 16px;
}
form a{
    font-size: 12px;
    font-weight: 400;
    color: #8E8E93;
    text-align: center;
}
form label{
    font-size: 12px;
    font-weight: 400;
}
@media screen and (min-width:2100px) {
    .head h1 {
    font-size: 40px;
    font-weight: 700;
}
.head span {
    font-size: 20px;
    font-weight: 400;
}
.login h2 {
    text-align: center;
    font-size: 30px;
}
form label {
    font-size: 18px;
    font-weight: 400;
}
form p {
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    color: #8E8E93;
}
form button {
    width: 100%;
    height: 33px;
    border: none;
    border-radius: 34px;
    background-color: #27AE60;
    font-size: 18px;
}
form a {
    font-size: 14px;
    font-weight: 400;
    color: #8E8E93;
    text-align: center;
}
}