/* header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    overflow-x: hidden;
}
.info{
    width: 272px;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 8px;
    padding: 12px 16px 12px 24px;
    gap: 16px;
}
.info__name{
    font-size: 20px;
    font-weight: 500;
    margin-right: 2px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info__avt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.dropdown{
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.dropdown__background{
    display: none;
    position: fixed;
    background-color: #191919;
    opacity: 0.3;
    width: 100%;
    min-height: 100vh;
    margin-top:64px;
    top: 0;
    left: 0;
    z-index: 5;
}

.links{
    display: none;
    width: 220px;
    height: 220px;
    
}
.links a{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.links a:hover{
   color: #2F80ED;
}
.dropdown:hover .dropdown__background{
    display:block;
    
}
.info:hover .dropdown__background{
    display:block;
    
}
.info:hover .links {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.info .dropdown__img{
    transition: transform 0.3s ease;
}
.info:hover .dropdown__img {
    transform: rotate(180deg);  
}
.dropdown:hover .links{
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.dropdown__img{
    transition: transform 0.3s ease;
}
.dropdown:hover .dropdown__img {
    transform: rotate(180deg);  
}
header{
    display: flex;
    align-items: center;
}
.searchbar{
    flex:1;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    border-bottom-right-radius: 10px;
}
.search input{
    border: none;
    outline: none;
    width: 97%;
    height: 100%;
}
.search{
    display: flex;
    width: 20%;
    height: 21px;
    background-color: #fff;
    gap: 8px;
    align-items: center;
}
header{
    position: fixed;
    z-index: 30;
    left: 0;
    right: 0;
    top:0;
    background-color: #ffffff;
}
main{
    padding-top: 64px;
}
.notify{
    position: relative;
    cursor: pointer;

}
.notify .dropped{
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    width: 220px;
    min-height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    font-size: 14px;
    color: #333333;
    z-index: 10;
}
.notify:hover .dropped{
    display: block;
}
/*header*/
 
/* sidebar*/
main{
    display: flex;
    gap: 16px;
    background-color: #f0f0f0;
}
.sidebar{
    height: 968px;
    width: 17.78%;
    margin: 0 0 38px 16px;
    padding-top: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__content{
    width: 100%;
    height: 472px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px 24px 24px;
    border-radius: 14px;
    
}
.sidebar__content a{
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:24px;
    width: 96.05%;
    padding: 8px 14px;
}
.dashboard{
    background: #DAE8FB;
    color: #2F80ED;
}
.version{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.version h2{
    font-size: 14px;
    font-weight: 800;
}
.version span{
    font-size: 12px;
    font-weight: 400;
}
.sidebar {
   height: auto;
    width: 17.78%;
    margin: 0 0 25px 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    min-height: 100vh;
}
body,html{
    min-height: 100%;

}
.sidebar__content a{
    color: #000000;
    background-color: #ffffff;
}
.sidebar__content a{
    color: #000;
    transition: all 0.2s ease;
}
.sidebar__content a:hover{
    color: #2F80ED;
   
}
/* sidebar*/
.modify{
    color: #2F80ED !important;
    background-color: #DAE8FB !important;
}
.maincontents{
    width: calc(100% - 17.78%);
    height: 968px;
   
    margin: 16px 24px 38px 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.tabs{
 width:36.73%;
 height: 116px;
 display: flex;
 gap : 14px;
}
.tab1{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #2F80ED;
gap: 9px;
font-size: 14px;
font-weight: 500;
color: #ffffff;
border-radius: 14px;
cursor: pointer;
transition: transform 0.2s ease;
}
.tab1:hover{
    transform: scale(1.03);
}
.tab2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    gap: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.tab2:hover{
    background-color: #2F80ED;
    color: #ffffff;
    transform: scale(1.03);
}
.tab1:active, .tab2.active{
    background-color: #2F80ED;
    color: #ffffff;
}
.link{
    text-decoration: none;
    height: 116px;
}
.tab1s, .tab2s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    height: 100%;
}
.listpeople{
    width: 100%;
    height: 212px;
    background-color: #ffffff;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 14px;
}
.headd{
    height: 36px;
    display: flex;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
}
.headd h2{
    font-size: 20px;
    font-weight: 500;
}
.headd button{
    width: 159px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 2px solid #2F80ED;
    color: #2F80ED;
    font-size: 14px;
    font-weight: 500;
}
.summary-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Roboto, sans-serif;
}

.summary-table th {
  background-color: #D1D1D6;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  padding: 10px 12px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap;
}

.summary-table td {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 12px;
  text-align: center;
}
.content__down{
    width: 100%;
    height: 608px;
    display: flex;
    gap:16px;
}
.contain__thongso{
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
}
.thongso{
    display: flex;
    gap: 24px;
    align-items: center;
    color: #828282;
    
}
.thongso span{
    font-size: 14px;
    font-weight:400;
}
.modifier{
    color: #000000;
}
.down__left{
    width: 21.8%;
    height: 100%;
    background-color: #ffffff;
border-radius: 14px;
padding: 24px;
display: flex;
flex-direction: column;
gap: 16px;
}
.down__right{
    width: calc((100% - 21.8%) - 16px);
    height: 100%;
    background-color: #ffffff;
    border-radius: 14px;;
}
.down__left h2{
    font-size: 20px;
    font-weight: 500;
   
}
.regions{
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.regions h5{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
}
.regions input{
    height: 18px;
    width: 18px;
}
.regions label{
    font-size: 14px;
    font-weight: 400;
    color: #4F4F4F;
}

.regions div{
    display: flex;
    align-items: center;
    gap: 7px;
}
.btnclear{
    height: 36px;
width: 200px;
border-radius: 31px;
color: #000000;
background-color: #fff;
border: 1px solid #000000;
font-size: 14px;
font-weight: 500;
cursor: pointer;
margin-top: 28px;
}

/*Table Reuse*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    height: 72px;
}
.header h2{
    font-size: 20px;
    font-weight: 500;
    color: #4F4F4F;
}
.employee-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #333;
}

.employee-table thead {
    background-color: #f2f2f2;
}

.employee-table th,
.employee-table td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

.employee-table th {
    font-weight: 600;
    color: #555;
    background-color: #D1D1D6;
}

.employee-table tbody tr:nth-child(even) {
    background-color: #E0E0E0;
}

.employee-table tbody tr:hover {
    background-color: #eef4ff;
}
.pagination {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    padding: 6px 12px;
    text-decoration: none;
    color: #2f80ed;
    border-radius: 6px;
    cursor: pointer;
}

.pagination .page:hover,
.pagination .nav:hover,
.pagination .show-all:hover {
    background-color: #eef4ff;
}

.pagination .page.active {
    background-color: #2f80ed;
    color: #fff;
    font-weight: 600;
}

.pagination .dots {
    color: #999;
    cursor: default;
}

.pagination .nav {
    display: flex;
    align-items: center;
    gap: 4px;
}

.pagination .nav.disabled {
    color: #ccc !important;
    pointer-events: none;
}
.nav.disabled span{
    color: #ccc !important;
}
.pagination .show-all {
    margin-left: 10px;
    font-weight: 500;
}
@media screen and (min-width: 1800px){
.sidebar__content a{
    font-size: 20px;
}
.sidebar {
    height: auto;
    width: 15.78%;
}
.summary-table th {
    background-color: #D1D1D6;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    padding: 10px 12px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
}
.summary-table td {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 15px;
    text-align: center;
}
.regions h5 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}
}
@media screen and (min-width: 2000px){
.sidebar__content a{
    font-size: 20px;
}
.sidebar {
    height: auto;
    width: 11.78%;
}
.down__left {
    width: 14.8%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.down__right {
    width: calc((100% - 14.8%) - 16px);
    height: 100%;
    background-color: #ffffff;
    border-radius: 14px;
}

.employee-table th {
    font-weight: 600;
    color: #555;
    background-color: #D1D1D6;
    font-size: 15px;
}
.employee-table th, .employee-table td {
    padding: 10px 12px;
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid #ffffff;
}
}
.sidebar__content a{
    transition: all 0.2s ease;
}
.sidebar__content a:hover{
    background-color: #E0E0E0;
   
}
.employee-table td:nth-child(1) {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}