/* header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
}

.info {
    width: 272px;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 8px;
    padding: 12px 16px 12px 24px;
    gap: 16px;
}

.info__name {
    font-size: 20px;
    font-weight: 500;
    margin-right: 2px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info__avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.dropdown {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.dropdown__background {
    display: none;
    position: fixed;
    background-color: #191919;
    opacity: 0.3;
    width: 100%;
    min-height: 100vh;
    margin-top: 64px;
    top: 0;
    left: 0;
    z-index: 5;
}

.links {
    display: none;
    width: 220px;
    height: 220px;

}

.links a {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.links a:hover {
    color: #2F80ED;
}

.dropdown:hover .dropdown__background {
    display: block;

}

.dropdown:hover .links {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}

.dropdown__img {
    transition: transform 0.3s ease;
}

.dropdown:hover .dropdown__img {
    transform: rotate(180deg);
}

header {
    display: flex;
    align-items: center;
}

.searchbar {
    flex: 1;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    border-bottom-right-radius: 10px;
}

.search input {
    border: none;
    outline: none;
    width: 97%;
    height: 100%;
}

.search {
    display: flex;
    width: 20%;
    height: 21px;
    background-color: #fff;
    gap: 8px;
    align-items: center;
}

header {
    position: fixed;
    z-index: 30;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff;
}

main {
    padding-top: 64px;
}

.notify {
    position: relative;
    cursor: pointer;

}

.notify .dropped {
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    width: 220px;
    min-height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    font-size: 14px;
    color: #333333;
    z-index: 10;
}

.notify:hover .dropped {
    display: block;
}

/*header*/

/* sidebar*/
main {
    display: flex;
    gap: 16px;
    background-color: #f0f0f0;
}

.sidebar {
    height: 968px;
    width: 17.78%;
    margin: 0 0 38px 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__content {
    width: 100%;
    height: 472px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px 24px 24px;
    border-radius: 14px;

}

.sidebar__content a {
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 96.05%;
    padding: 8px 14px;
}

.dashboard {
    background: #DAE8FB;
    color: #2F80ED;
}

.version {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.version h2 {
    font-size: 14px;
    font-weight: 800;
}

.version span {
    font-size: 12px;
    font-weight: 400;
}

.sidebar {
    height: auto;
    width: 17.78%;
    margin: 0 0 25px 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    min-height: 100vh;
}

body,
html {
    min-height: 100%;

}

.sidebar__content a {
    color: #000000;
    background-color: #ffffff;
}

.sidebar__content a {
    color: #000;
    transition: all 0.2s ease;
}

.sidebar__content a:hover {
    color: #2F80ED;

}

.modify {
    color: #2F80ED !important;
    background-color: #DAE8FB !important;
}

.sidebar__content a {
    transition: all 0.2s ease;
}

.sidebar__content a:hover {
    background-color: #E0E0E0;

}

/* sidebar*/

.maincontents{
    width: 82%;
    height: 968px;
  
    margin: 16px 24px 28px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block1{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
   
}
.contain__items{
    height: 100%;
    width: 47.83%;
    display: flex;
    gap: 16px;
}
.item1{
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 16px 16px 0 24px;
    border-radius: 14px;
}
.item2{
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 16px 16px 0 24px;
    border-radius: 14px;
}
.item1 h2, .item2 h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.containtext{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.row1 h3{
    font-size: 12px;
    font-weight: 500;
}
.row2 h3{
    font-size: 12px;
    font-weight: 500;
}
.row2{
    display: flex;
    flex-direction: column;
    gap: 6px;

}
.row2detail{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
    color: #4F4F4F;
}
.right{
    width: 35.17%;
    height: 122px;
    background-color: #fff;
    border-radius: 14px;
    border: 2px solid #D1D1D6;
    padding: 8px 14px 14px 14px;
}
.right h3{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    color: #2F80ED;
}
.right p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    
    margin-bottom: 12px;
}

.containbutton{
    display: flex;
    
    gap: 12px;
}
.containbutton button{
    width: 49%;
    height: 36px;
    border: none;  
    border-radius: 8px;
    background-color: #fff;
    border: 1.5px solid #2F80ED;
    font-size: 14px;
    font-weight: 500;
    color: #2F80ED;
}
.tabs{
 width: 59.06%;
 height: 116px;
 display: flex;
 gap : 14px;
}
.tab1{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #2F80ED;
gap: 9px;
font-size: 14px;
font-weight: 500;
color: #ffffff;
border-radius: 14px;
cursor: pointer;
transition: transform 0.2s ease;
}
.tab1:hover{
    transform: scale(1.03);
}
.tab2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    gap: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.tab2:hover{
    background-color: #2F80ED;
    color: #ffffff;
    transform: scale(1.03);
}
.tab1:active, .tab2.active{
    background-color: #2F80ED;
    color: #ffffff;
}
.link{
    text-decoration: none;
    height: 116px;
}
.tab1s, .tab2s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    height: 100%;
}
.block4{
    width: 100%;
    height: 480px;
    background-color: #fff;
    border-radius: 14px;
    padding: 20px 24px 24px 24px;
    position: relative;
}
.block4 h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.containinput{
    display: flex;
    gap: 24px;
    width: 86.62%;
    
}
.row2input__right {
    width: 21.91%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#city {
    width: 100%;
    height: 36px;
    border-radius: 3px;

    padding-left: 14px;
    border: none;
    outline: none;
    background-color: #F1F1F1;
    font-size: 14px;
    font-weight: 400;
    appearance: none;
    background: #f1f1f1 url(./img/arrow_drop_down.svg) no-repeat right 14px center;
    cursor: pointer;
}

.row2input__right label {
    font-size: 12px;
    font-weight: 400;
}
.containbutton2{
    position: absolute;
    right: 24px;
    bottom: 24px;
    display: flex;
    gap: 12px;
}
.btn1{
    width: 112px;
    height: 36px;
    border: 2px solid #4F4F4F;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background-color: #fff;
    cursor: pointer;
}
.btn2{
    width: 112px;
    height: 36px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background-color: #27AE60;
    cursor: pointer;
}
.date-wrapper {
  position: relative;
  width: 100%;
}

.date-wrapper input[type="date"] {
  width: 100%;
  color: #828282;
  height: 36px;
  border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 12px;
  cursor: pointer;
}


.date-wrapper::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("./img/_ionicons_svg_md-calendar (5).svg") no-repeat center / contain;
  pointer-events: none;
}
.input2rowmodify{
 margin-top: 19px;
}
.input2row{
    display: flex;
    gap: 16px;
}
.login{
    width: 50%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.login input{
    width: 100%;
    height: 36px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    box-sizing: border-box;
}
.select .selectbox{
    width: 100%;
    height: 36px;
    background-color: #f1f1f1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
    
}
.login h5, .select h5{
    font-size: 12px;
    font-weight: 400;
}
.login input{
    font-size: 14px;
    font-weight: 300;
}
.select img{
    cursor: pointer;
}
.input2row {
    display: flex;
    gap: 16px;
    width: 33.4%;
}
.radio{
    margin-top: 16px;
}
.radio h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.radio label{
    font-size: 12px;
    font-weight: 400;
   
}
.radiobutton{
    display: flex;
    align-items: center;
    
    margin-bottom: 8px;
}
.radio input{
    margin-right: 6px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.containtexts{
    margin-top: 32px;
}
.containtexts h3{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #2F80ED;
}
.containtexts h4{
    font-size: 12px;
    font-weight: 400;
    
}

@media screen and (min-width: 2000px) {
    .sidebar__content a {
        font-size: 20px;
    }

    .sidebar {
        height: auto;
        width: 11.78%;
    }
}

@media screen and (min-width: 1800px) {
    .sidebar__content a {
        font-size: 20px;
    }

    .sidebar {
        height: auto;
        width: 15.78%;
    }
}

@media screen and (min-width: 1800px) {
    .sidebar__content a {
        font-size: 20px;
    }

    .sidebar {
        height: auto;
        width: 15.78%;
    }
    .item1 h2, .item2 h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.row1 h3 {
    font-size: 14px;
    font-weight: 500;
}
.row2 h3 {
    font-size: 14px;
    font-weight: 500;
}
.row2detail {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
    color: #4F4F4F;
}
.right p {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}
.row2input__right label {
    font-size: 15px;
    font-weight: 400;
}
.containtexts h4 {
    font-size: 13px;
    font-weight: 400;
}
}
.info:hover .dropdown__background{
    display:block;
    
}
.info:hover .links {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.info .dropdown__img{
    transition: transform 0.3s ease;
}
.info:hover .dropdown__img {
    transform: rotate(180deg);  
}
.selectbox:hover .branches{
    display: flex;
    z-index: 10;
}
img{
    cursor: pointer;
}