/* header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
}

.info {
    width: 272px;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 8px;
    padding: 12px 16px 12px 24px;
    gap: 16px;
}

.info__name {
    font-size: 20px;
    font-weight: 500;
    margin-right: 2px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info__avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.dropdown {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.dropdown__background {
    display: none;
    position: fixed;
    background-color: #191919;
    opacity: 0.3;
    width: 100%;
    min-height: 100vh;
    margin-top: 64px;
    top: 0;
    left: 0;
    z-index: 5;
}

.links {
    display: none;
    width: 220px;
    height: 220px;

}

.links a {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.links a:hover {
    color: #2F80ED;
}

.dropdown:hover .dropdown__background {
    display: block;

}

.dropdown:hover .links {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}

.dropdown__img {
    transition: transform 0.3s ease;
}

.dropdown:hover .dropdown__img {
    transform: rotate(180deg);
}

header {
    display: flex;
    align-items: center;
}

.searchbar {
    flex: 1;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    border-bottom-right-radius: 10px;
}

.search input {
    border: none;
    outline: none;
    width: 97%;
    height: 100%;
}

.search {
    display: flex;
    width: 20%;
    height: 21px;
    background-color: #fff;
    gap: 8px;
    align-items: center;
}

header {
    position: fixed;
    z-index: 30;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff;
}

main {
    padding-top: 64px;
}

.notify {
    position: relative;
    cursor: pointer;

}

.notify .dropped {
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    width: 220px;
    min-height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    font-size: 14px;
    color: #333333;
    z-index: 10;
}

.notify:hover .dropped {
    display: block;
}

/*header*/

/* sidebar*/
main {
    display: flex;
    gap: 16px;
    background-color: #f0f0f0;
}

.sidebar {
    height: 968px;
    width: 17.78%;
    margin: 0 0 38px 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__content {
    width: 100%;
    height: 472px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px 24px 24px;
    border-radius: 14px;

}

.sidebar__content a {
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 24px;
    width: 96.05%;
    padding: 8px 14px;
}

.dashboard {
    background: #DAE8FB;
    color: #2F80ED;
}

.version {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.version h2 {
    font-size: 14px;
    font-weight: 800;
}

.version span {
    font-size: 12px;
    font-weight: 400;
}

.sidebar {
    height: auto;
    width: 17.78%;
    margin: 0 0 25px 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    min-height: 100vh;
}

body,
html {
    min-height: 100%;

}

.sidebar__content a {
    color: #000000;
    background-color: #ffffff;
}

.sidebar__content a {
    color: #000;
    transition: all 0.2s ease;
}

.sidebar__content a:hover {
    color: #2F80ED;

}

.modify {
    color: #2F80ED !important;
    background-color: #DAE8FB !important;
}

.sidebar__content a {
    transition: all 0.2s ease;
}

.sidebar__content a:hover {
    background-color: #E0E0E0;

}

/* sidebar*/


.maincontents {
    width: 82%;
    height: 985px;
    
    margin-top: 16px;
    margin-right: 24px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mytimesheet {
    width: 100%;
    height: 151px;
    background-color: #fff;
    border-radius: 14px;
    padding: 16px 24px 31px 24px;
}

.mytimesheet h2 {
    font-size: 20px;
    font-weight: 500;
}

.containing {
    width: 100%;
    height: auto;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.containing__left {
    width: 70%;
}

.date {
    height: 58px;
    width: 34.4%;
    background-color: #fff;

    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date h4 {
    font-size: 12px;
    font-weight: 400;
}

.date__input {
    width: 100%;
    height: 36px;
    display: flex;
    gap: 8px;
    align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.input__year {
    width: 80.69%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}

.input__year img {
    cursor: pointer;
}

.bgcalendar {
    width: 36px;
    height: 36px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

.carlendar {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.carlendar input[type="date"] {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 38px;
    opacity: 0;
    cursor: pointer;
}

.containing__btn {
    width: 179px;
    height: 36px;
    background-color: #fff;
    color: #2F80ED;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2F80ED;
    cursor: pointer;
  
}

.block2 {
    width: 100%;
    height: 262px;
    background-color: #fff;
    border-radius: 14px;
    padding: 26px 24px 20px 20px;
}

.block2__up {
 
    width: 100%;
    
    display: flex;
    gap: 17px;
}

.up__left {
    width: 52.63%;
    height: 100%;
    
    display: flex;
    align-items: center;
}

.row2input__right {
    width: 21.91%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.right__big{
    width: 47.29%;
    margin-left: 13px;
}
.right__small1{
    margin-left: 10px;
}
.right__small2{
    margin-left: 12px;
}
#city {
    width: 100%;
    height: 36px;
    border-radius: 3px;

    padding-left: 14px;
    border: none;
    outline: none;
    background-color: #F1F1F1;
    font-size: 14px;
    font-weight: 400;
    appearance: none;
    background: #f1f1f1 url(./img/arrow_drop_down.svg) no-repeat right 14px center;
    cursor: pointer;
}

.row2input__right label {
    font-size: 12px;
    font-weight: 400;
}
.up__right{
    width: calc(100% - 52.63% - 17px);
   
  
    display: flex;
    justify-content: space-between;
}
.citys{
    color: #8E8E93;
}
.month{
    font-size: 12px;
    font-weight: 400;
    color: #828282;
}
.contain__card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 11.18%;
}
.card{
    height: 36px;
    width: 100%;
    background-color: #2F80ED;
    color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
.circle{
    background-color: #fff;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
}
.card2{
    background-color: #fff;
    border: 2px solid #2F80ED;
}
.month2{
    color: #2F80ED;
}
.month3{
    color:#000;

}
.card3{
    background-color: #F1F1F1;
}
.month4{
    color:#FF3B30;
}
.month{
    display: block;
    text-align: center;
}
.remove{
    margin-top: 25px;
}
.framework{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.block2__down{

    width: 100%;
   
    display: flex;
    gap: 17px
}
.containbuttons{
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.buttonleft{
    display: flex;
    gap: 12px;
    width: 50%;
}
.button1{
    width: 114px;
    height: 36px;
    background:#fff;
    color: #2F80ED;
    border: 2px solid #2F80ED;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
    cursor: pointer;
}
.button2{
    width: 145px;
    height: 36px;
    background:#F2994A;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    cursor: pointer;
}
.button3{
    width: 112px;
    height: 36px;
    border-radius: 31px;
    background:#fff;
    font-size: 14px;
    font-weight: 500;
    color:#4F4F4F;
    border: 2px solid #4F4F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.buttonright{
    display: flex;
    gap: 12px;
}
.button4{
    width: 112px;
    height: 36px;
    border-radius: 31px;
    background:#E0E0E0;
    font-size: 14px;
    font-weight: 500;
    color:#333333;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button5{
    width: 112px;
    height: 36px;
    border-radius: 31px;
    background:#27AE60;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card{
    cursor: pointer;
}
.final{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.modif{
    font-size: 14px;
    font-weight: 400;
    color:#828282;
}
.changes{
    font-size: 14px;
    font-weight: 500;
    color:#000000;
}
.final img{
    cursor: pointer;
}
.block3{
    width: 100%;
    height: 208px;
}
.maincontents__down{
    width: 100%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
   
}
.heads{
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heads__right{
    display: flex;
    gap: 32px;
}
.heads__right .filterform{
    height: 36px;
    display: flex;
    align-items: center;
    gap:12px;
    width: 184px;
    justify-content: space-between;
    padding: 0 12px;
    border: 1.5px solid #2F80ED;
    border-radius: 6px;
    font-weight: 500;
}
.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0px 37px 0px;
}

/* Table */
.projects-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
   overflow: hidden;
}

.projects-table thead th {
    background: #D1D1D6;
    color: #313131;
    font-weight: 400;
    padding: 8px 25px;
    text-align: left;
    font-size: 14px;
}

.projects-table tbody td {
    padding: 11.5px 20px;
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 400;
}

.projects-table tbody tr {
    border-bottom: 1px solid #e9e9ee;
    background: #ffffff;
}

.projects-table tbody tr:last-child td {
  border-bottom: none;
}

.projects-table tbody tr:nth-child(even) {
    background: #f3f2f8;
}




.projects-table th:first-child,
.projects-table td:first-child {
  width: 85px;
    text-align: center;
}
h2{
    font-size: 20px;
    font-weight: 500;
}
.project{
    width: 235px;
}
.contact img{
    cursor: pointer;
}
.filter{
    position: relative;
    cursor: pointer;
    transition: transform 0.8s ease;
}
.filter img{
    transition: transform 0.3s ease;
}
.filter .dropss{
    display: none;
}
.dropss{
    display: none;
    position: absolute;
    border: #2F80ED 1.5px solid;
    left: -148px;
    width: 184px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 8px 4px;
}

.checkfil:checked ~ .dropss{
    display: block;
    position: absolute;
    border: #2F80ED 1.5px solid;
    left: -148px;
    width: 184px;
    top: 31px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 8px 4px;
    z-index: 30;
    
}
.dropss span{
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
}
.dropss span:hover{
    color: #2F80ED;
}
.checkfil:checked ~ .infil img{
    transform: rotate(180deg);
   
}
.collapsible{
  
    cursor: pointer;
}
.maincontents__down{
    position: relative;
    min-height: 64px;
    transition: all 0.3s ease;
}
.maincontents__down:has(.check:checked){
   min-height: 208px;
}
/*.collapsible .table{
    display: none;
}
.collapsible .check:checked ~ .table{
    display: block;
    position: absolute;
    top: 66px;
    left: 0;
    z-index: 20;
}
    */
.table{
  position: absolute;
    top: 40%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    left: 0px;
} 
.collapsible .check:checked ~ .table {
    top: 70px;
    opacity: 1;
    position: absolute;
    left: 0px;
    z-index: 20;
}
.collapsible img{
    position: absolute;
    z-index: 30;
    right: 24px;
    top: 20px
}

.infil img{
    position: absolute;
    z-index: 30;
    right: 0;
    top:-11px;
    cursor: pointer;
}
.checkfil:checked ~ .dropss {
    display: block;
    position: absolute;
    border: #2F80ED 1.5px solid;
    left: -170px;
    width: 184px;
    top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 8px 4px;
    z-index: 30;
}
.filter{
    position: relative;
}

.projects-tables{
    opacity: 0;
}
.collapsible .check img{
    transition: transform 0.3s ease;
}
.collapsible .check:checked ~ label img{
    transform: rotate(180deg);
}
.block4{
    width: 100%;
    height: 316px;
    
}
.block4__left{
    width: 75.43%;
    
    
   
    
}
.block4__right{
    flex: 1;    
   background-color: #fff;
   padding: 20px 24px 32px 24px;
   border-radius: 14px;

}
.block4{
    display: flex;
    gap: 16px;
}
.maincontents__downvip{
    min-height: 64px;
    transition: all 0.3s ease;
    padding-bottom: 32px;
}
.maincontents__downvip:has(#checkedx:checked){
   min-height: 198px;
}
.tag{
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2F80ED;
    border-radius: 14px;
}
.tablevip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 24px 0 24px;
}
.fix{
    font-size: 14px;
    font-weight: 500;
}
.collapsible .checkvip:checked ~ .table {
    top: 62px;
    opacity: 1;
    position: absolute;
    left: 0px;
    z-index: 20;
}
.active{
    background-color: #2F80ED;
    color: #fff;
}
.tag{
    cursor: pointer;
}
.legend{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-bottom: 20px;
}
.legend__card{
    width: 56px;
}
.inner{
    display: flex;
    gap: 15px;
    align-items: center;
}
.inner span{
    font-size: 14px;
    font-weight: 400;
}
.legend__items{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card__red{
    background-color:#EB5757;
}
.card__orange{
    background-color:#F2994A;
}
.card__green{
    background-color:#27AE60;
}
.card__nothing{
    background-color: #fff;
    border: 2px solid #2F80ED;
}
@media screen and (min-width: 2000px) {
    .sidebar__content a {
        font-size: 20px;
    }

    .sidebar {
        height: auto;
        width: 11.78%;
    }
}

@media screen and (min-width: 1800px) {
    .sidebar__content a {
        font-size: 20px;
    }

    .sidebar {
        height: auto;
        width: 15.78%;
    }
    .date h4 {
    font-size: 15px;
    font-weight: 400;
}
.row2input__right label {
    font-size: 15px;
    font-weight: 400;
}

.fix {
    font-size: 16px;
    font-weight: 500;
}
.month {
    font-size: 15px;
    font-weight: 400;
    color: #828282;
}
.projects-table thead th {
    background: #D1D1D6;
    color: #313131;
    font-weight: 400;
    padding: 8px 25px;
    text-align: left;
    font-size: 15px;
}
.inner span {
    font-size: 15px;
    font-weight: 400;
}
.projects-table th:first-child, .projects-table td:first-child {
    width: 113px;
    text-align: center;
}
.projects-table tbody td {
    padding: 11.5px 20px;
    color: #1f1f1f;
    font-size: 15px;
    font-weight: 400;
}
.tag {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2F80ED;
    border-radius: 14px;
}
}
.heads{
    cursor: pointer;
}
.maincontents__downvip:has(#checkedx:checked) .checkimg img{
    transform: rotate(180deg);
}
img{
    cursor: pointer;
}
.info:hover .dropdown__background{
    display:block;
    
}
.info:hover .links {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.info .dropdown__img{
    transition: transform 0.3s ease;
}
.info:hover .dropdown__img {
    transform: rotate(180deg);  
}
.selectbox:hover .branches{
    display: flex;
    z-index: 10;
}