/* header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    overflow-x: hidden;
}
.info{
    width: 272px;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 8px;
    padding: 12px 16px 12px 24px;
    gap: 16px;
}
.info__name{
    font-size: 20px;
    font-weight: 500;
    margin-right: 2px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info__avt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.dropdown{
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.dropdown__background{
    display: none;
    position: fixed;
    background-color: #191919;
    opacity: 0.3;
    width: 100%;
    min-height: 100vh;
    margin-top:64px;
    top: 0;
    left: 0;
    z-index: 5;
}

.link{
    display: none;
    width: 220px;
    height: 220px;
    
}
.link a{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.link a:hover{
   color: #2F80ED;
}
.dropdown:hover .dropdown__background{
    display:block;
    
}
.dropdown:hover .link{
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.dropdown__img{
    transition: transform 0.3s ease;
}
.dropdown:hover .dropdown__img {
    transform: rotate(180deg);  
}
header{
    display: flex;
    align-items: center;
}
.searchbar{
    flex:1;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    border-bottom-right-radius: 10px;
}
.search input{
    border: none;
    outline: none;
    width: 97%;
    height: 100%;
}
.search{
    display: flex;
    width: 20%;
    height: 21px;
    background-color: #fff;
    gap: 8px;
    align-items: center;
}
header{
    position: fixed;
    z-index: 30;
    left: 0;
    right: 0;
    top:0;
    background-color: #ffffff;
}
main{
    padding-top: 64px;
}
.notify{
    position: relative;
    cursor: pointer;

}
.notify .dropped{
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    width: 220px;
    min-height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    font-size: 14px;
    color: #333333;
    z-index: 10;
}
.notify:hover .dropped{
    display: block;
}
/*header*/
 
/* sidebar*/
main{
    display: flex;
    gap: 16px;
    background-color: #f0f0f0;
}
.sidebar{
    height: 968px;
    width: 17.78%;
    margin: 0 0 38px 16px;
    padding-top: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__content{
    width: 100%;
    height: 472px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px 24px 24px;
    border-radius: 14px;
    
}
.sidebar__content a{
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:24px;
    width: 96.05%;
    padding: 8px 14px;
}
.dashboard{
    background: #DAE8FB;
    color: #2F80ED;
}
.version{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.version h2{
    font-size: 14px;
    font-weight: 800;
}
.version span{
    font-size: 12px;
    font-weight: 400;
}
.sidebar {
   height: auto;
    width: 17.78%;
    margin: 0 0 25px 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    min-height: 100vh;
}
body,html{
    min-height: 100%;

}
.sidebar__content a{
    color: #000000;
    background-color: #ffffff;
}
.sidebar__content a{
    color: #000;
    transition: all 0.2s ease;
}
.sidebar__content a:hover{
    color: #2F80ED;
   
}
.sidebar__content a:hover{
    background-color: #E0E0E0;
   
}
.modify{
    color: #2F80ED !important;
    background-color: #DAE8FB !important;
}
/* sidebar*/

.maincontent{
    width: 82.22%;
    height: 968px;
   background-color: #fff;
    margin-top: 16px;
    margin-right: 24px ;
    border-radius: 14px;
    margin-bottom: 30px;
    padding: 16px 24px 0 24px;
}
.maincontent__up{
    width: 100%;
    height: 215px;
    background-color: #ffffff;
    border-radius: 8px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.maincontent__up h2{
    font-size: 20px;
    font-weight: 500;
    
}
.row2input__right{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}
#city{
    width: 80.5%;
    height: 36px;
    border-radius: 3px;
    margin-top: 8px;
    padding-left: 14px;
    border: none;
    outline: none;
    background-color: #F1F1F1;
    font-size: 14px;
    font-weight: 400;
    appearance: none;
    background:#f1f1f1 url(../MyDetailPage/img/dropdownblue.svg) no-repeat right 14px center;
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.date{
    height: 57px;
    width: 100%;
    background-color: #fff;
   
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.date h4{
    font-size: 12px;
    font-weight: 400;
}
.date__input{
    width: 100%;
    height: 36px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.input__year{
    width: 80.5%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}
.input__year img{
    cursor: pointer;
}
.bgcalendar{
    width: 36px;
    height: 36px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}
.carlendar{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.carlendar input[type="date"]{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 38px;
    opacity: 0;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20.97%;
}
.up__content{
    display: flex;
    gap: 36px;
}
.differ{
    display: flex;
    height: 117px;
    width: 19.8%;
   border: 2px solid #2F80ED;
   border-radius: 14px;
   margin-top: 18px;
    
}
.differ hr{
    border: 1px solid #2F80ED;
    margin: 8px 0;
   
}
.textleft h3{
    font-size: 34px;
    font-weight: 400;
}
.textleft span{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 57%;
}
.textleft{
    padding: 21px 16px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}
.textright h3{
    font-size: 34px;
    font-weight: 400;
}
.textright span{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.textright{
    padding: 21px 12px 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
    color: #EB5757;
}
.maincontent__down{
    width: 85.3%;
    height: calc(968px - 220px - 10px);
 
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.drawcalendar{
    width: 22.581%;
    height: 300px;
   background-color: #fff;
}
.soLich{
    height: 186px;
    width: 100%;
    background-color: #ffffff;
}
.drawcalendar{
    display: flex;
    gap: 14px;
    flex-direction: column;
    padding: 0 1px;
}
.drawcalendar h3{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.calendar-days{
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 100%;
    padding: 0 1px;
}
.thu{
    display: flex;
    gap: 7px;
    
}
.thu span{
    font-size: 12px;
    font-weight: 400;
    color: #D1D1D6;
    width: calc((100% - 42px) / 7);
    text-align: center;
}
.row{
    display: flex;
    gap: 7px;
}
.row span{
    font-size: 12px;
    font-weight: 400;
    width: calc((100% - 42px) / 7);
 display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius:50%;
    cursor: pointer;
    
}
.row span:hover{
    background-color: #2F80ED;
    color: #ffffff;
    
}
.calendar-summary{
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    margin-top: 16px;
    border-radius: 8px;
    border: 2px solid #E5E5EA;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.working, .non-working{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    width: 90%;
    justify-content: space-between;
}
.calendar-summary hr{
    border: 1px solid #E5E5EA;
    width: 100%;
    margin: 4px 0;
}
.holiday{
    color: #EB5757;
}
.non-working{
    color: #EB5757;
}
.working {
    padding-top: 5px;
}
.non-working {
    padding-bottom: 5px;
}
@media screen and (min-width: 2000px) {
    .maincontent__up h2 {
    font-size: 23px;
    font-weight: 500;
}
.row2input__right {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}
.date h4 {
    font-size: 15px;
    font-weight: 400;
}
.textleft span {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    width: 57%;
}
.textright span {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.drawcalendar h3 {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
.thu span {
    font-size: 18px;
    font-weight: 400;
    color: #D1D1D6;
    width: calc((100% - 42px) / 7);
    text-align: center;
}
.row span {
    font-size: 15px;
}
.working, .non-working {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
}
    sidebar__content a{
    font-size: 20px;
}
.sidebar {
    height: auto;
    width: 11.78%;
}
.working {
    padding-top: 15px;
}
.non-working {
    padding-bottom: 15px;
}

.calendar-summary {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    margin-top: 53px;
    border-radius: 8px;
    border: 2px solid #E5E5EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.row span{
    font-size: 15px;
    font-weight: 400;
    width: calc((100% - 42px) / 7);

    height: 35px;
    text-align: center;
    line-height: 24px;
    border-radius:50%;
    cursor: pointer;
    
}
.row span:hover{
    background-color: #2F80ED;
    color: #ffffff;
    
}
.drawcalendar {
    width: 22.581%;
    height: 320px;
    background-color: #fff;
}
.maincontent__down {
    width: 85.3%;
    height: calc(968px - 220px - 10px);
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    overflow-y: hidden;
}
}
.info:hover .dropdown__background{
    display:block;
    
}
.info:hover .link {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.info .dropdown__img{
    transition: transform 0.3s ease;
}
.info:hover .dropdown__img {
    transform: rotate(180deg);  
}
@media screen and (min-width: 2200px) {
 
    .row span {
        font-size: 15px;
        font-weight: 400;
        width: calc((100% - 42px) / 7);
        height: 40px;
        text-align: center;
        line-height: 24px;
        border-radius: 50%;
        cursor: pointer;
    }
.calendar-summary {
        width: 100%;
        height: 48px;
        background-color: #ffffff;
        margin-top: 76px;
        border-radius: 8px;
        border: 2px solid #E5E5EA;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }
    .drawcalendar {
        width: 22.581%;
        height: 348px;
        background-color: #fff;
    }
    .maincontent {
    width: 82.22%;
    height: 1044px;
    background-color: #fff;
    margin-top: 16px;
    margin-right: 24px;
    border-radius: 14px;
    margin-bottom: 30px;
    padding: 16px 24px 0 24px;
}
.maincontent__down {
        width: 85.3%;
        height: 800px;
        display: flex;
        gap: 28px;
        flex-wrap: wrap;
        overflow-y: hidden;
    }
   
    
}
.info:hover .dropdown__background{
    display:block;
    
}
.info:hover .links {
    position: absolute;
    z-index: 10;
    top: 23px;
    left: -190px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 16px;
    background-color: #ffff;
}
.info .dropdown__img{
    transition: transform 0.3s ease;
}
.info:hover .dropdown__img {
    transform: rotate(180deg);  
}